@import "lib/*"
@import "helpers/*.sass"
@import "base/*.sass"
@import "generated/*.sass"
// @import "components/*.sass"
@import "layout/*.sass"
@import "blocks/*.sass"
@import "cards/*.sass"
@import "partials/*.sass"

.btnTO
	position: fixed
	right: 15px
	bottom: 15px
	transition: none !important

body
	+scrollbar
		width: 12px

	+scrollbar-track
	+scrollbar-thumb
		background-color: $accent
		border-radius: 2px
		+h
			background-image: $gradient
			cursor: pointer
			opacity: 1

	+scrollbar-track-piece
		background-color: red
		background-color: $bgd
