{% import "data/mainHero.html" as items %}

<div class="hero">
	<div class="hero__container">

		<div class="hero__slider js-slider-hero">

			{% for item in items.mainHero %}

			<div class="hero__item">

				{% if item.bg|length %}
				<div class="hero__bg-container">
					<img src="{{ item.bg }}" alt="" class="hero__bg" />
				</div>
				{% endif %}

				{% if item.title|length %}
				<div class="hero__title">{{ item.title }}</div>
				{% endif %}

				{% if item.titleBig|length %}
				<div class="hero__title hero__title--big">{{ item.titleBig }}</div>
				{% endif %}

				{% if item.subtitle|length %}
				<div class="hero__subtitle">{{ item.subtitle }}</div>
				{% endif %}

				{% if item.link|length %}
				<a href="{{ item.link }}" class="hero__action btn"><span>{{ item.linkName }}</span></a>
				{% endif %}

			</div>

			{% endfor %}

		</div>

		<div class="hero__slider-dots js-slider-hero-dots"></div>

		<div class="hero-socials">
			<a href="#" class="hero-socials__item">{{mixins.icon('facebook')}}</a>
			<a href="#" class="hero-socials__item">{{mixins.icon('twitter')}}</a>
			<a href="#" class="hero-socials__item">{{mixins.icon('google-plus')}}</a>
		</div>

	</div>
</div>

