<div class="home-cta">
	<div class="home-cta__container">
		<div class="home-cta__row">

			<div class="home-cta__col">
				<div class="home-cta__title" data-backword="Newsletter">register for our Newsletter now</div>
				<div class="home-cta__subtitle">We are always ready to welcome you!</div>
			</div>

			<div class="home-cta__col">
				<form class="home-cta__form">
					<div class="home-cta__form-item">
						<input type="text" class="home-cta__input" placeholder="Enter your Email address here" />
					</div>
					<button class="home-cta__action">{{mixins.icon('email')}}</button>
				</form>
			</div>

		</div>
	</div>
</div>
