{% import "data/games.html" as games %}

<section class="block block--p180">
	<div class="block__container">
		<div class="block__content">

			<div class="streams">

				<div class="streams__top">
					<div class="streams__top-item js-tab-item active">Most popular streams</div>
					<div class="streams__top-item js-tab-item">Most popular streams 2</div>
				</div>

				<div class="streams__bottom">

					<div class="streams__bottom-item js-tab-item-bottom active" data-name="Most popular streams">
						<div class="streams__left">
							<iframe src="" frameborder="0" class="streams__iframe"></iframe>
							<div class="streams__iframe-overlay">
								<div class="streams__iframe-title">Most popular streams</div>
							</div>
						</div>
						<div class="streams__right">
							<div class="streams__box">
								<div class="streams__title">Most popular streams</div>
								<div class="streams__content">Most popular streams</div>
								<div class="streams__action btn"><span>Most popular streams</span></div>
							</div>
							<div class="streams__box">
								<div class="streams__title streams__title--nomargin">Most popular streams</div>
								<div class="streams__subtitle">Most popular streams</div>
							</div>
						</div>
					</div>

					<div class="streams__bottom-item js-tab-item-bottom" data-name="Most popular streams 2">
						<div class="streams__left">
							<iframe src="" frameborder="0" class="streams__iframe"></iframe>
							<div class="streams__iframe-overlay">
								<div class="streams__iframe-title">Most popular streams</div>
							</div>
						</div>
						<div class="streams__right">
							<div class="streams__box">
								<div class="streams__title">Most popular streams</div>
								<div class="streams__content">Most popular streams</div>
								<div class="streams__action btn"><span>Most popular streams</span></div>
							</div>
							<div class="streams__box">
								<div class="streams__title streams__title--nomargin">Most popular streams</div>
								<div class="streams__subtitle">Most popular streams</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>
