{% import "data/reviews.html" as reviews %}

<section class="block">
	<div class="block__container">

		<div class="block__head">
			<div class="block__title" data-backword="all Reviews">Testimonials:</div>
		</div>

		<div class="block__content">

			<div class="slider-arrow slider-arrow--prev js-slider-control-prev"></div>

			<div class="block__slider js-slider-reviews">
				{% for i in reviews.reviews %}
				<div class="block__list-item">

					<div class="card-review">

						<div class="card-review__img-container">
							{% if item.title|length %}
							<img src="./img/users/thumb.jpg" alt="" class="card-review__img" />
							{% else %}
							<img src="./img/users/{{ i.avatar }}" alt="" class="card-review__img" />
							{% endif %}
						</div>

						<div class="card-review__content">
							<div class="card-review__title">{{ i.name }}</div>
							<div href="#" class="card-review__tag">{{ i.tag }}</div>
							<p class="card-review__text">«{{ i.content }}»</p>
						</div>

					</div>

				</div>
				{% endfor %}
			</div>

			<div class="slider-arrow slider-arrow--next js-slider-control-next"></div>
			<div class="slider-dots js-slider-dots"></div>

		</div>
	</div>
</section>

