{% import "data/games.html" as games %}

<section class="block js-nav-trigger">
	<div class="block__container">
		<div class="block__head">
			<div class="block__title" data-backword="COMING SOON">UpComing Games:</div>
		</div>
		<div class="block__content">


			<div class="upcoming-games">
				<div class="upcoming-games__top">

					<div class="slider-arrow slider-arrow--prev js-slider-control-prev"></div>

					<div class="upcoming-games__top-slider js-slider-upcoming-games">

						{% for i in games.games %}
						<div class="upcoming-games__top-item">

							<div class="card-simple">
								<div class="card-simple__img-container">
									<img src="./img/games/{{ i.name }}/avatar.jpg" alt="" class="card-simple__img" />
								</div>
								<div class="card-simple__title">{{ i.name }}</div>
								<div class="card-simple__subtitle">{{ i.releaseDate }}</div>
							</div>

						</div>
						{% endfor %}

					</div>

					<div class="slider-arrow slider-arrow--next js-slider-control-next"></div>

				</div>

				<div class="upcoming-games__bottom">
					<div class="upcoming-games__bottom-slider js-slider-upcoming-games-for">

						{% for i in games.games %}
						<div class="upcoming-games__bottom-item">

							<div class="card-full">
								<div class="card-full__row">

									<div class="card-full__col">

										<div class="card-full__box">
											<div class="card-full__tag">
												{% for j in i.tags %}
												<a href="#" class="card-full__tag-item">{{ j.item }}</a>
												{% endfor %}
											</div>
											<div class="card-full__date">{{ i.releaseDate }}</div>
										</div>

										<div class="card-full__title">{{ i.name }}</div>

										<div class="card-full__content">
											{% for j in i.description %}
											<p>{{ j.item }}</p>
											{% endfor %}
										</div>

										<div class="card-full__box">
											<a href="" class="btn"><span>Read more</span></a>
											<div class="rating">
												{% for page in range(0, i.rating) %}
												<div class="rating__item">{{mixins.icon('star')}}</div>
												{% endfor %}
											</div>
										</div>

									</div>

									<div class="card-full__col">
										<div class="card-full__img-container">
											<img src="./img/games/{{ i.name }}/avatar.jpg" alt="" class="card-full__img" />
										</div>
									</div>

								</div>
							</div>

						</div>
						{% endfor %}

					</div>
				</div>
			</div>

		</div>
	</div>
</section>
