---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_hero.html" %}
	{% include "partials/_upcoming-games.html" %}
	{% include "partials/_latest-post.html" %}
	{% include "partials/_testimonials.html" %}
	{% include "partials/_screenshots-gallery.html" %}

	<div class="btn btnTO" style="display: none"><span>To top</span></div>

{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock %}
