---
title: Home
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "blocks/_hero.html" %}
	{% include "blocks/_upcoming-games.html" %}
	{% include "blocks/_latest-post.html" %}
	{% include "blocks/_testimonials.html" %}
	{% include "blocks/_screenshots-gallery.html" %}
	{% include "blocks/_pricing.html" %}
	{% include "blocks/_faq.html" %}
	{% include "blocks/_home-cta.html" %}

	<!-- <div class="btn btnTO" style="display: none"><span>To top</span></div> -->

{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock %}
