<div class="hero">
	<div class="hero__container">

		<div class="hero__slider js-home-hero-slider">

			<div class="hero__item">
				<img src="" alt="" class="hero__bg" />
				<div class="hero__title">Welcome to Gamesplay </div>
				<div class="hero__title hero__title--big">Online gaming site</div>
				<div class="hero__subtitle">Pork chop pastrami meatball, picanha salami capicola drumstick tri-tip flank short loin strip steak prosciutto</div>
				<a href="" class="hero__action">more About us</a>
			</div>

			<div class="slider-controls">
				<div class="slider-controls__item">01</div>
				<div class="slider-controls__item">02</div>
				<div class="slider-controls__item">03</div>
			</div>

			<div class="hero-socials">
				<a href="" class="hero-socials__item">
					<svg></svg>
				</a>
				<a href="" class="hero-socials__item">
					<svg></svg>
				</a>
				<a href="" class="hero-socials__item">
					<svg></svg>
				</a>
			</div>

		</div>

	</div>
</div>
