<section class="block">
	<div class="block__container">

		<div class="block__head">
			<div class="block__title" data-backword="all New Images">Screenshots gallery</div>
		</div>

		<div class="block__content">

			<div class="gallery">
				<div class="gallery__top">
					<div class="gallery__top-slider">
						<div class="gallery__top-slider-item active">ALL</div>
						<div class="gallery__top-slider-item">ORIGIN</div>
						<div class="gallery__top-slider-item">PLAYSTATION 4</div>
						<div class="gallery__top-slider-item">STEAM</div>
						<div class="gallery__top-slider-item">UPLAY</div>
						<div class="gallery__top-slider-item">XBOX ONE</div>
					</div>
				</div>
				<div class="gallery__bottom">
					<div class="gallery__bottom-slider">
						<div class="gallery__bottom-slider-item">


							<div class="table-grid">
								<div class="table-grid__row">
									<div class="table-grid__col">
										<div class="table-grid__row">
											<div class="table-grid__col">
												<div class="table-grid__item">
													<img src="" alt="" />
													<div class="table-grid__overlay">
														<a href="#" class="table-grid__overlay-title">Using Banner Stands To Increase Trade</a>
														<div class="table-grid__overlay-box">
															<a href="#" class="table-grid__overlay-item">
																<div class="table-grid__overlay-icon">{{mixins.icon('search')}}</div>
															</a>
															<a href="#" class="table-grid__overlay-item">
																<div class="table-grid__overlay-icon">{{mixins.icon('pin-paper')}}</div>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="table-grid__col">
												<div class="table-grid__item">
													<img src="" alt="" />
													<div class="table-grid__overlay">
														<a href="#" class="table-grid__overlay-title">Using Banner Stands To Increase Trade</a>
														<div class="table-grid__overlay-box">
															<a href="#" class="table-grid__overlay-item">
																<div class="table-grid__overlay-icon">{{mixins.icon('search')}}</div>
															</a>
															<a href="#" class="table-grid__overlay-item">
																<div class="table-grid__overlay-icon">{{mixins.icon('pin-paper')}}</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="table-grid__row">
											<div class="table-grid__col">
												<div class="table-grid__item">
													<img src="" alt="" />
													<div class="table-grid__overlay">
														<a href="#" class="table-grid__overlay-title">Using Banner Stands To Increase Trade</a>
														<div class="table-grid__overlay-box">
															<a href="#" class="table-grid__overlay-item">
																<div class="table-grid__overlay-icon">{{mixins.icon('search')}}</div>
															</a>
															<a href="#" class="table-grid__overlay-item">
																<div class="table-grid__overlay-icon">{{mixins.icon('pin-paper')}}</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="table-grid__col table-grid__col--small">
										<div class="table-grid__item">
											<img src="" alt="" />
											<div class="table-grid__overlay">
												<a href="#" class="table-grid__overlay-title">Using Banner Stands To Increase Trade</a>
												<div class="table-grid__overlay-box">
													<a href="#" class="table-grid__overlay-item">
														<div class="table-grid__overlay-icon">{{mixins.icon('search')}}</div>
													</a>
													<a href="#" class="table-grid__overlay-item">
														<div class="table-grid__overlay-icon">{{mixins.icon('pin-paper')}}</div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="block__action btn btn--transparent"><span>Discover more</span></div>
	</div>
</section>
