{% set
	faq = [
		{
			subtitle: [
				{
					subtitleiItem: "Flank andouille leberkas, shoulder shankle prosciutto chicken corned beef cupim kevin ham buffalo. Cow short ribs shoulder pancetta alcatra pork chop."
				},
				{
					subtitleiItem: "Flank andouille leberkas, shoulder shankle prosciutto chicken corned beef cupim kevin ham buffalo. Cow short ribs shoulder pancetta alcatra pork chop."
				}
			],
			title: "Bresaola hamburger sirloin?"
		},
		{
			subtitle: [
				{
					subtitleiItem: "Flank andouille leberkas, shoulder shankle prosciutto chicken corned beef cupim kevin ham buffalo. Cow short ribs shoulder pancetta alcatra pork chop."
				}
			],
			title: "Bresaola hamburger sirloin?"
		},
		{
			subtitle: [
				{
					subtitleiItem: "Flank andouille leberkas, shoulder shankle prosciutto chicken corned beef cupim kevin ham buffalo. Cow short ribs shoulder pancetta alcatra pork chop."
				}
			],
			title: "Bresaola hamburger sirloin?"
		},
		{
			subtitle: [
				{
					subtitleiItem: "Flank andouille leberkas, shoulder shankle prosciutto chicken corned beef cupim kevin ham buffalo. Cow short ribs shoulder pancetta alcatra pork chop."
				},
				{
					subtitleiItem: "Flank andouille leberkas, shoulder shankle prosciutto chicken corned beef cupim kevin ham buffalo. Cow short ribs shoulder pancetta alcatra pork chop."
				}
			],
			title: "Bresaola hamburger sirloin?"
		}


	]
%}
