{% set
	games = [
		{
			screenshots: [
				{
					item: "1"
				},
				{
					item: "2"
				},
				{
					item: "3"
				}
			],
			features: [
				{
					item: "55"
				},
				{
					item: "50"
				},
				{
					item: "80"
				},
				{
					item: "99"
				},
				{
					item: "5"
				}
			],
			tags: [
				{
					item: "new"
				},
				{
					item: "games"
				},
				{
					item: "mmorpg"
				}
			],
			description: [
				{
					item: "Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				}
			],
			name: "World Of Warcraft",
			releaseDate: "25.06.2004",
			rating: "5"
		},
		{
			screenshots: [
				{
					item: "1"
				},
				{
					item: "2"
				},
				{
					item: "3"
				}
			],
			features: [
				{
					item: "55"
				},
				{
					item: "50"
				},
				{
					item: "80"
				},
				{
					item: "99"
				},
				{
					item: "5"
				}
			],
			tags: [
				{
					item: "new"
				},
				{
					item: "games"
				},
				{
					item: "mmorpg"
				}
			],
			description: [
				{
					item: "Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				}
			],
			name: "wow",
			releaseDate: "25.06.2004",
			rating: "5"
		},
		{
			screenshots: [
				{
					item: "1"
				},
				{
					item: "2"
				},
				{
					item: "3"
				}
			],
			features: [
				{
					item: "55"
				},
				{
					item: "50"
				},
				{
					item: "80"
				},
				{
					item: "99"
				},
				{
					item: "5"
				}
			],
			tags: [
				{
					item: "new"
				},
				{
					item: "games"
				},
				{
					item: "mmorpg"
				}
			],
			description: [
				{
					item: "Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				}
			],
			name: "God Of War",
			releaseDate: "25.06.2004",
			rating: "4"
		},
		{
			screenshots: [
				{
					item: "1"
				},
				{
					item: "2"
				},
				{
					item: "3"
				}
			],
			features: [
				{
					item: "55"
				},
				{
					item: "50"
				},
				{
					item: "80"
				},
				{
					item: "99"
				},
				{
					item: "5"
				}
			],
			tags: [
				{
					item: "new"
				},
				{
					item: "games"
				},
				{
					item: "mmorpg"
				}
			],
			description: [
				{
					item: "Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				}
			],
			name: "wow",
			releaseDate: "25.06.2004",
			rating: "5"
		},
		{
			screenshots: [
				{
					item: "1"
				},
				{
					item: "2"
				},
				{
					item: "3"
				}
			],
			features: [
				{
					item: "55"
				},
				{
					item: "50"
				},
				{
					item: "80"
				},
				{
					item: "99"
				},
				{
					item: "5"
				}
			],
			tags: [
				{
					item: "new"
				},
				{
					item: "games"
				},
				{
					item: "mmorpg"
				}
			],
			description: [
				{
					item: "Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				}
			],
			name: "wow",
			releaseDate: "25.06.2004",
			rating: "5"
		},
		{
			screenshots: [
				{
					item: "1"
				},
				{
					item: "2"
				},
				{
					item: "3"
				}
			],
			features: [
				{
					item: "55"
				},
				{
					item: "50"
				},
				{
					item: "80"
				},
				{
					item: "99"
				},
				{
					item: "5"
				}
			],
			tags: [
				{
					item: "new"
				},
				{
					item: "games"
				},
				{
					item: "mmorpg"
				}
			],
			description: [
				{
					item: "Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				},
				{
					item: "Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta."
				}
			],
			name: "wow",
			releaseDate: "25.06.2004",
			rating: "5"
		}

	]
%}
