{% set
	mainHero = [
		{
			bg: "./img/home-hero/bg1.jpg",
			title: "Welcome to Gamesplay",
			titleBig: "Online gaming site",
			subtitle: "Pork chop pastrami meatball, picanha salami capicola drumstick tri-tip flank short loin strip steak prosciutto",
			link: "#",
			linkName: "more About us"
		},
		{
			bg: "./img/home-hero/bg2.jpg",
			title: "Welcome to Gamesplay",
			titleBig: "Slide 2",
			subtitle: "Pork chop pastrami meatball, picanha salami capicola drumstick tri-tip flank short loin strip steak prosciutto"
		},
		{
			bg: "./img/home-hero/bg3.jpg",
			title: "Welcome to Gamesplay",
			titleBig: "Slide 3",
			subtitle: "Pork chop pastrami meatball, picanha salami capicola drumstick tri-tip flank short loin strip steak prosciutto",
			link: "#",
			linkName: "more About us"
		},
		{
			bg: "./img/home-hero/bg4.jpg",
			title: "Welcome to Gamesplay",
			titleBig: "Slide 4",
			subtitle: "Pork chop pastrami meatball, picanha salami capicola drumstick tri-tip flank short loin strip steak prosciutto",
			link: "#",
			linkName: "more About us"
		},
		{
			bg: "./img/home-hero/bg5.jpg",
			title: "Welcome to Gamesplay",
			titleBig: "Slide 5",
			subtitle: "Pork chop pastrami meatball, picanha salami capicola drumstick tri-tip flank short loin strip steak prosciutto",
			link: "#",
			linkName: "more About us"
		}

	]
%}
