{% set
	reviews = [
		{
			avatar: "user.jpg",
			name: "Paradise Seeker",
			content: "Fatback landjaeger prosciutto jerky ham. Salami cappig cupim leberkas. Kevin tenderloin ground round. Spare ribs pork belly cupim.",
			tag: "gamer"
		},
		{
			avatar: "user.jpg",
			name: "Paradise Seeker",
			content: "Fatback landjaeger prosciutto jerky ham. Salami cappig cupim leberkas. Kevin tenderloin ground round. Spare ribs pork belly cupim.",
			tag: "gamer"
		},
		{
			avatar: "user.jpg",
			name: "Paradise Seeker",
			content: "Fatback landjaeger prosciutto jerky ham. Salami cappig cupim leberkas. Kevin tenderloin ground round. Spare ribs pork belly cupim.",
			tag: "gamer"
		},
		{
			avatar: "user.jpg",
			name: "Paradise Seeker",
			content: "Fatback landjaeger prosciutto jerky ham. Salami cappig cupim leberkas. Kevin tenderloin ground round. Spare ribs pork belly cupim.",
			tag: "gamer"
		},
		{
			avatar: "user.jpg",
			name: "Paradise Seeker",
			content: "Fatback landjaeger prosciutto jerky ham. Salami cappig cupim leberkas. Kevin tenderloin ground round. Spare ribs pork belly cupim.",
			tag: "gamer"
		},
		{
			avatar: "user.jpg",
			name: "Paradise Seeker",
			content: "Fatback landjaeger prosciutto jerky ham. Salami cappig cupim leberkas. Kevin tenderloin ground round. Spare ribs pork belly cupim.",
			tag: "gamer"
		},
		{
			avatar: "user.jpg",
			name: "Paradise Seeker",
			content: "Fatback landjaeger prosciutto jerky ham. Salami cappig cupim leberkas. Kevin tenderloin ground round. Spare ribs pork belly cupim.",
			tag: "gamer"
		}

	]
%}
