.svg-comment {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-email {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-google-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-pin-paper {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
