.svg-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-google-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
